

.login-form{
  margin: 0 auto;
  margin-top:1.5rem;
  padding-bottom: 1rem;
  width: 30rem;
  background-color: rgb(251, 251, 251);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);

}

.form-icon{
  text-align: center;
}

.form-icon >mat-icon{
  margin-left: -6rem;
}

.form-card, .form-card-signin{
  text-align: center;
}

.form-card-signin > mat-form-field{
  width: 40%;
  margin: 10px 15px 10px 15px;
}

.form-card > mat-form-field{
  margin: 5px 0 5px 0;
  width: 80%;
}

.form-error-msg{
  width: 60%;
  height: auto;
  padding: 5px;
  background: rgb(255, 232, 232);
  border: solid 1px rgb(255, 181, 181);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: rgb(223, 0, 0);
  margin-bottom: 1.5rem;
}


.form-error-msg> p{
  margin-top: 10px;
}

.form-action{
  display: block;
  text-align: center;
}

.form-action>div{
  padding: 5px 0px 10px 0px;
}


