

<loader [hide]="loader" style="z-index: 10;"></loader>
  <form class="login-form">

    <div>

      <div class="form-icon">
        <mat-icon style="font-size: 6rem;" color="primary">account_circle</mat-icon>
      </div>

      <div class="form-card" *ngIf="loginOrSignin === true">
        <mat-form-field appearance="outline" class="col-12">
          <input matInput placeholder="Username" id="username" name="username" [(ngModel)]="username" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <input type="password" matInput placeholder="password" id="password" name="password" [(ngModel)]="password" required>
        </mat-form-field>
      </div>

      <div class="form-card-signin" *ngIf="loginOrSignin === false">

        <mat-form-field  class="col-12">
          <input matInput placeholder="Name" required>
        </mat-form-field>

        <mat-form-field class="col-12" required>
          <input matInput placeholder="Last name" >
        </mat-form-field>

        <mat-form-field class="col-12">
          <input matInput placeholder="username" required>
        </mat-form-field>

        <mat-form-field class="col-12">
          <input type="email" matInput placeholder="email" required>
        </mat-form-field>

        <mat-form-field class="col-12">
          <input type="password" matInput placeholder="password" required>
        </mat-form-field>

        <mat-form-field class="col-12">
          <input type="password" matInput placeholder="re password" required>
        </mat-form-field>

        <mat-form-field class="col-12">
          <input type="date" matInput required>
        </mat-form-field>

        <mat-form-field class="col-12" *ngIf="isAdminUser">
          <mat-label>Authority</mat-label>
          <mat-select>
            <mat-option value="User">User</mat-option>
            <mat-option value="Admin">Administrator</mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div class="form-error-msg" *ngIf="isLoginFail">
        <p>Usuario o contraseña no son correctos</p>
      </div>

      <div class="form-error-msg" *ngIf="badFields">
        <p>Comprueba que los campos esten llenados correctamente</p>
      </div>

      <div class="form-action">
        <div>
          <mat-slide-toggle color="primary" (change)="loginHandle()" checked>
            Sign in/Log in
          </mat-slide-toggle>
        </div>

        <div>
          <button mat-raised-button color="primary" type="submit" *ngIf="!loginOrSignin" (click) = "onRegister()">Guardar</button>
          <button mat-raised-button color="primary" type="submit" *ngIf="loginOrSignin" (click) = "onLogin()">Entrar</button>
        </div>
      </div>

    </div>


  </form>
