.disable{
  display: none;
}

.header-right-buttons{
  position: absolute;
  right: 20px;
  color: rgb(105, 105, 105);
  min-width: 7rem;
  justify-content: space-between;
  display: flex;
}
.header-pages-links{
  min-width: 15rem;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.page-icon{
  max-height: 35px;
  text-align: center;
  display: block;
  align-items:center;
}

.page-icon > p{
  margin-top: -15px;
  font-size: x-small;
}

.account-buttons{
  display: flex;
  min-width: 8rem;
  justify-content: space-between;
}

.page-icon{
  margin-top: 5px;
  padding: 10px 10px 45px 10px;
  border-radius: 5px;
}

.page-icon:hover{
  cursor: pointer;
  background: rgb(233, 233, 233);
}

.header-separators{
  margin: 10px 10px 0 10px
}

.show-options-menu{
  display: none;
}

@media (max-width: 900px){

  .header{
    position: fixed;
    background: rgb(250, 250, 250);
    z-index: 100;
  }

  .header-right-buttons{
    background: rgb(250, 250, 250);
    display: block;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 100;
    top: 3.5rem;
    height: 95%;
    overflow-y: auto;
    padding: 0 0 40px 0;
  }

  .header-pages-links{
    display: block;
    width: 100%;
  }

  .show-options-menu:hover{
    cursor: pointer;
    color: rgb(12, 131, 243);
  }

  .page-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 0;
  }

  .page-icon > p{
    margin: 0 0 0 20px;
    font-size: 0.8rem;
  }

  .header-separators{
    display: none;
  }

  .show-options-menu{
    position: absolute;
    display: flex;
    align-items: center;
    right: 1rem;
    color: rgb(59, 59, 59);
  }
  .account-buttons{
    display: block;
  }
}


